<link rel="stylesheet" href="/css/navbar.css">

<div class="navbar">
    <div class="container">
        <a href="/" class="left">
            <img src="/img/logo.png" alt="Compara y Ahorra en tus Juegos Aquí." aria-label="Compara y Ahorra en tus Juegos Aquí." title="Compara y Ahorra en tus Juegos Aquí." class="logo">
        </a>
        <ul class="menu">
            <li class="item-menu"><a href="" class="link">Tendencia</a></li>
            <li class="item-menu"><a href="" class="link">Lanzamientos Recientes</a></li>
            <li class="item-menu"><a href="" class="link">Plataforma</a></li>
            <li class="item-menu"><a href="" class="link">Género</a></li>
            <li class="item-menu"><a href="" class="link">Tipo</a></li>
        </ul>
        <div class="containerSettings">
            <div id="changeTheme" aria-label="Cambiar tema." title="Cambiar tema.">
                <i class="ri-moon-fill"></i>
            </div>
            <div id="dataUser">
                <div class="profile">
                    <i class="ri-user-5-fill"></i>
                    <img src="" alt="" class="image img-loading">
                </div>
                <ul class="settings">
                </ul>
            </div>
        </div>
    </div>
    <div id="statusConnection" class="success">
        <span class="message">Vuelves a tener conexión a internet</span>
    </div>
</div>