<link rel="stylesheet" href="css/navbar.css">

<div class="navbar">
    <div class="container">
        <a href="/" class="left">
            <img src="img/logo.png" alt="Compara y Ahorra en tus Juegos Aquí." aria-label="Compara y Ahorra en tus Juegos Aquí." title="Compara y Ahorra en tus Juegos Aquí." class="logo">
        </a>
        <ul class="menu">
            <li class="item-menu"><a href="" class="link">Tendencia</a></li>
            <li class="item-menu"><a href="" class="link">Lanzamientos Recientes</a></li>
            <li class="item-menu"><a href="" class="link">Plataforma</a></li>
            <li class="item-menu"><a href="" class="link">Género</a></li>
            <li class="item-menu"><a href="" class="link">Tipo</a></li>
        </ul>
        <div id="changeTheme" aria-label="Cambiar tema." title="Cambiar tema.">
            <i class="ri-moon-fill"></i>
        </div>
        <div class="dataUser">
            <img src="" alt="" class="profile">
            <ul class="settings">
                <li class="item-settings"><a href="" class="link"></a></li>
                <li class="item-settings"><a href="" class="link"></a></li>
                <li class="item-settings"><a href="" class="link"></a></li>
                <li class="item-settings"><a href="" class="link"></a></li>
                <li class="item-settings"><a href="" class="link"></a></li>
            </ul>
        </div>
    </div>
</div>