<div id="main">
    <div class="section">
        <div class="container">
            <h2 class="section-title">Titulo para visualizar tema</h2>
            <p>Texto variado que sirve como descripción de ejemplo para visualizar el tema.</p>
        </div>
    </div>
</div>