<div id="main">
    <div class="section">
        <div class="container">
            <form autocomplete="on" method="post">
                <div class="field email" data-label="Correo Electronico">
                    <input type="email" name="email" id="email" placeholder="Correo Electronico" required>
                </div>
                <div class="field password" data-label="Contraseña">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="button button-primary">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>