#footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: var(--footer-title-color);
    padding: 60px 0 0 0;
    background-color: var(--footer-bg-color);
}

#footer .footer-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#footer .footer-container .info {
    display: flex;
    gap: 40px;
}

#footer .footer-container .info-section {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#footer .footer-container .info-section .social {
    font-size: 35px;
}

#footer .footer-container .info-section .list {
    list-style: none;
    padding: 0;
}

#footer .footer-container .info-section .title {
    font-size: 18px;
    color: var(--footer-title-color);
}

#footer .footer-container .list-item {
    --padding-item: 5px;
    padding: var(--padding-item) 0;
}

#footer .footer-container .link {
    text-decoration: none;
    color: var(--footer-link-color);
    transition: .2s ease-in-out color;
    padding: var(--padding-item) 0;
}
#footer .footer-container .link:hover {
    color: var(--primary-color);
}
#footer .footer-container .info-section .social .link.instagram:hover {
    color: var(--color-instagram);
}
#footer .footer-container .info-section .social .link.facebook:hover {
    color: var(--color-facebook);
}
#footer .footer-container .info-section .link.phone:hover {
    color: var(--color-phone);
}
#footer .footer-container .info-section .link.whatsapp:hover {
    color: var(--color-whatsapp);
}
#footer .footer-container .info-section .link.email:hover {
    color: var(--color-email);
}
#footer .footer-container .info-section .link.youtube:hover {
    color: var(--color-youtube);
}

#footer .about {
    color: var(--footer-p-color);
}

#footer .about .logo {
    width: 250px;
}

#footer .legal {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#footer .legal a:not(:last-child) {
    border-right: 2px solid var(--primary-color);
    padding-right: 10px;
}

#footer button.link {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#footer .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 40px 0;
    background-color: var(--footer-copyright-bg-color);
}

@media (max-width: 800px) {
    #footer .info, #footer .legal {
        flex-direction: column;
    }

    #footer .legal a:not(:last-child) {
        border-right: none;
        border-bottom: 2px solid var(--primary-color);
        padding-right: 0;
        padding-bottom: 10px;
    }

    #footer .info-section {
        max-width: 90% !important;
    }
}