:root {
    --dark-bg-color: #1A1A1A;
    --dark-text-primary-color: #C5BDAF;
    --dark-text-secondary-color: #E6E1D9;
    --dark-nav-bg-color: #2E2E2E;
    
    --light-bg-color: #F9F5EE;
    --light-text-primary-color: #3E3120;
    --light-text-secondary-color: #6A563D;
    --light-nav-bg-color: #F2E9DE;

    --primary-color: #D4BC89;
    --secondary-color: #C3AA83;

    --text-family: "Nunito";
    --text-weight: 500;
    --text-size: 16px;

    --navbar-container-max-width: 1400px;
    --container-max-width: 1200px;
}

/* Variante Regular */
@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variante Italic */
@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 120vh;
    background-color: var(--bg-color);
    font-family: var(--text-family);
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    color: var(--text-color);
    margin-top: 86px;
}
body[theme="dark"] {
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-secondary-color);
    --nav-bg-color: var(--dark-nav-bg-color);
}
body[theme="light"] {
    --bg-color: var(--light-bg-color);
    --text-color: var(--light-text-secondary-color);
    --nav-bg-color: var(--light-nav-bg-color);
}

.link {
    text-decoration: none;
    color: var(--secondary-color);
    transition: .2s ease color;
}
.link:hover {
    color: var(--primary-color);
}

.section {
    position: relative;
    width: 100%;
}

.section .container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--container-max-width);
}