:root {
    --dark-bg-color: #1A1A1A;
    --dark-subtitle-color: #bdbdbd;
    --dark-text-primary-color: #C5BDAF;
    --dark-text-secondary-color: #E6E1D9;
    --dark-nav-bg-color: #2E2E2E;
    --dark-nav-menu-bg-color: #1f1e1e;
    --dark-profile-bg-color: #353535;
    --dark-profile-border-color: #505050;
    --dark-wrapper-button-bg-color: #272727;
    --dark-wrapper-button-disabled-bg-color: #1E1E1E;
    --dark-wrapper-item-hover-bg-color: #1E1E1E;
    --dark-status-color-success: #42BE65;
    --dark-status-color-warn: #FF832B;
    --dark-status-color-failed: #FA4D56;
    --dark-form-bg-color: #3b3a36;
    --dark-input-error-color: #E65100;
    
    --light-bg-color: #F9F5EE;
    --light-subtitle-color: #574f46;
    --light-text-primary-color: #3E3120;
    --light-text-secondary-color: #6A563D;
    --light-nav-bg-color: #F2E9DE;
    --light-nav-menu-bg-color: #c2bab0;
    --light-profile-bg-color: #e0e0e0;
    --light-profile-border-color: #afaeae;
    --light-wrapper-button-bg-color: #e7e7e7;
    --light-wrapper-button-disabled-bg-color: #bbbbbb;
    --light-wrapper-item-hover-bg-color: #bbbbbb;
    --light-status-color-success: #24A148;
    --light-status-color-warn: #FF832B;
    --light-status-color-failed: #DA1E28;
    --light-form-bg-color: #dbd1bf;
    --light-input-error-color: #E65100;
    
    --primary-color: #D4BC89;
    --secondary-color: #C3AA83;
    
    --subtitle-weight: 600;
    --subtitle-size: 14px;
    
    --text-family: "Nunito";
    --text-weight: 500;
    --text-size: 16px;
    
    --navbar-container-max-width: 1600px;
    --container-max-width: 1400px;
    
    --bar-bg-color: #FFFFFF50;
    --bar-fill-color: var(--primary-color);
    
    --button-color: var(--secondary-color);
    --button-text-color: #E0E0E0;
    --button-text-size: 15px;
    --button-text-weight: 650;
    --button-padding: 10px 15px;
    --button-border-radius: 8px;
    --button-color-hover: #9e8863;
    --button-primary-color: #c09a48;
    --button-primary-color-hover: #997d46;
    --button-secondary-color-hover: #D8D8D8;
    
    --image-loading-bg-color: #3E3E3F;
    
    --profile-border-size: 2px;
    --profile-size-icon: 55px;
    
    --carousel-button-color: #656565;
    --carousel-button-color-hover: #D3D3D3;
    --carousel-item-bg-color: #353535;
    
    --wrapper-items-gap: 10px;
}

/* Variante Regular */
@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Variante Italic */
@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

p, span, h1, h2, h3, h4, h5 {
    width: fit-content;
}

body {
    width: 100%;
    /* min-height: 120vh; */
    background-color: var(--bg-color);
    font-family: var(--text-family);
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    color: var(--text-color);
    margin-top: 100px;
    transition: .2s ease background-color, .2s ease color;
}
body[theme="dark"] {
    --bg-color: var(--dark-bg-color);
    --title-color: var(--dark-text-primary-color);
    --subtitle-color: var(--dark-subtitle-color);
    --text-color: var(--dark-text-secondary-color);
    --nav-bg-color: var(--dark-nav-bg-color);
    --nav-menu-bg-color: var(--dark-nav-menu-bg-color);
    --profile-bg-color: var(--dark-profile-bg-color);
    --profile-border-color: var(--dark-profile-border-color);
    --wrapper-button-bg-color: var(--dark-wrapper-button-bg-color);
    --wrapper-button-disabled-bg-color: var(--dark-wrapper-button-disabled-bg-color);
    --wrapper-item-hover-bg-color: var(--dark-wrapper-item-hover-bg-color);
    --status-color-success: var(--dark-status-color-success);
    --status-color-warn: var(--dark-status-color-warn);
    --status-color-failed: var(--dark-status-color-failed);
    --form-bg-color: var(--dark-form-bg-color);
    --input-error-color: var(--dark-input-error-color);
}
body[theme="light"] {
    --bg-color: var(--light-bg-color);
    --title-color: var(--light-text-primary-color);
    --subtitle-color: var(--light-subtitle-color);
    --text-color: var(--light-text-secondary-color);
    --nav-bg-color: var(--light-nav-bg-color);
    --nav-menu-bg-color: var(--light-nav-menu-bg-color);
    --profile-bg-color: var(--light-profile-bg-color);
    --profile-border-color: var(--light-profile-border-color);
    --wrapper-button-bg-color: var(--light-wrapper-button-bg-color);
    --wrapper-button-disabled-bg-color: var(--light-wrapper-button-disabled-bg-color);
    --wrapper-item-hover-bg-color: var(--light-wrapper-item-hover-bg-color);
    --status-color-success: var(--light-status-color-success);
    --status-color-warn: var(--light-status-color-warn);
    --status-color-failed: var(--light-status-color-failed);
    --form-bg-color: var(--light-form-bg-color);
    --input-error-color: var(--light-input-error-color);
}

.bar {
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg-color);
}

.bar .fill {
    width: 0;
    height: 100%;
    background-color: var(--bar-fill-color);
    transition: .3s ease width;
}

#pageLoadBar {
    position: fixed;
    top: 0;
    display: none;
    z-index: 5;
}

.link {
    text-decoration: none;
    color: var(--secondary-color);
    transition: .2s ease color;
}
.link:hover {
    color: var(--primary-color);
}

#main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section {
    position: relative;
    width: 100%;
}

.section .container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--container-max-width);
}

.button {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--button-text-color);
    font-weight: var(--button-text-weight);
    font-size: var(--button-text-size);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    background-color: var(--button-color);
    transition: .2s ease background-color;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
}
.button:hover {
    background-color: var(--button-color-hover);
}
.button:disabled {
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    color: var(--text-color);
    cursor: not-allowed;
}
.button:disabled:hover {
    background-color: var(--bg-color);
}
.button-primary {
    background-color: var(--button-primary-color);
}
.button-primary:hover {
    background-color: var(--button-primary-color-hover);
}
.button-secondary {
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.button-secondary:hover {
    background-color: var(--button-secondary-color-hover);
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s ease opacity, .4s ease filter;
}

.image.img-loaded {
    opacity: 1;
    filter: blur(0);
}
.image.img-loading {
    opacity: 0.4;
    filter: blur(10px);
}
.image.img-error {
    opacity: 0;
}

.carousel {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--carousel-button-color);
    transition: .3s ease left, .3s ease right, .2s ease color;
    padding: 0 15px;
    cursor: pointer;
}
.carousel-button.button-prev {
    left: 0;
}
.carousel-button.button-prev:hover {
    left: -5px;
    color: var(--carousel-button-color-hover);
}
.carousel-button.button-next {
    right: 0;
    justify-content: end;
}
.carousel-button.button-next:hover {
    right: -5px;
    color: var(--carousel-button-color-hover);
}

.carousel-items {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.carousel-items.animate {
    transition: .3s ease left;
}
.carousel-items.animate .carousel-item {
    transition: .2s ease opacity, .2s ease background-color;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--carousel-item-bg-color);
    flex-shrink: 0;
    opacity: .4;
}
.carousel-item.active, .carousel-item.copy {
    opacity: .8;
    background-color: var(--primary-color);
}

.carousel-item .info {
    --blurring: 15%;
    --padding-bottom: 50px;

    position: absolute;
    width: calc(50% - var(--blurring));
    height: calc(100% - var(--padding-bottom));
    max-height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to right, transparent 0%, #00000080 var(--blurring));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding-left: calc(var(--blurring) - 80px);
    padding-bottom: var(--padding-bottom);
}

.carousel-item .info .cover {
    width: 280px;
    aspect-ratio: 16 / 9;
    background-color: var(--text-color);
    border-radius: 8px;
}
.carousel-item .info .cover:has(.img-loaded) {
    background-color: transparent;
}

.price {
    display: flex;
    gap: 5px;
    padding-top: 10px;
}

.price .offer {
    background-color: var(--secondary-color);
    padding: 3px 5px;
    border-radius: 2px;
}
.price .offer::before {
    content: "-";
}
.price .offer::after {
    content: "%";
    margin-left: 3px;
}

.price .base {
    text-decoration: line-through;
}
.price .base::after, .price .now::after {
    content: "€";
    margin-left: 3px;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrapper .wrapper-items {
    display: flex;
    gap: var(--wrapper-items-gap);
}

.wrapper .wrapper-item {
    box-sizing: border-box;
    flex-shrink: 0;
}

.wrapper .item-image {
    background-color: var(--image-loading-bg-color);
}

.item-content .type {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--subtitle-color);
}

.title {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--title-color);
}



form {
    background-color: var(--form-bg-color);
    padding: 10px;
    border-radius: 8px;
}

.field-multiple {
    display: flex;
    gap: 15px;
}

.field-multiple .field {
    width: 100%;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.field input, .field select {
    --input-color: var(--text-color);
    
    background-color: transparent;
    outline: none;
    border: 2px solid var(--input-color);
    border-radius: 8px;
    padding: 12px;
    color: var(--text-color);
    z-index: 2;
    transition: .2s ease border;
}
.field input:focus, .field select:focus {
    --input-color: var(--primary-color);
}
.field input::placeholder {
    opacity: 0;
}
.field::after {
    content: attr(data-label);
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: var(--form-bg-color);
    color: var(--input-color);
    padding: 0 4px;
    transition: .2s ease top, .2s ease font-size, .2s ease color;
    z-index: 1;
}
.field:has(input:not(:placeholder-shown))::after, .field:has(select:valid)::after {
    --input-color: var(--text-color);

    top: -9px;
    font-size: 12px;
    z-index: 2;
}
.field:has(input:focus)::after, .field:has(select:focus)::after {
    --input-color: var(--primary-color);

    top: -9px;
    font-size: 12px;
    z-index: 2;
}
.field:has(.error) input, .field:has(.error):has(input:focus)::after, .field:has(.error):has(input:not(:placeholder-shown))::after,
.field:has(.error) select, .field:has(.error):has(select:focus)::after, .field:has(.error):has(select:valid)::after {
    --input-color: var(--input-error-color);
}

.field select option {
    background-color: var(--form-bg-color);
}
.field select option:checked {
    background-color: var(--primary-color);
    color: white;
}

.field .error {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--input-error-color);
}

.field .field-checkbox {
    display: flex;
    align-items: center;
}
.field .field-checkbox input {
    width: 15px;
    height: 15px;
}
.field .field-checkbox label {
    padding-left: 5px;
}

.field.checkboxes-simplified:has(.field-checkbox) .wrapper {
    gap: 5px;
}

.field.checkboxes-simplified input[type=checkbox] {
    display: none;
}
.field.checkboxes-simplified:has(input[type=checkbox]) label {
    padding: 5px;
    border: 2px solid var(--text-color);
    border-radius: 8px;
    cursor: pointer;
    transition: .2s ease border-color, .2s ease background-color, .2s ease color;
}
.field.checkboxes-simplified:has(input[type=checkbox]) label:hover {
    background-color: var(--bg-color);
}
.field.checkboxes-simplified .field-checkbox:has(input[type=checkbox]:disabled) label {
    cursor: not-allowed;
    opacity: 0.5;
}
.field.checkboxes-simplified .field-checkbox:has(input[type=checkbox]:checked) label {
    border-color: var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.switches .field:not(:first-of-type)::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    opacity: .5;
}

.field:has(.switch) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 0;
}

.field .switch {
    --switch-color: var(--text-color);
    --switch-border-size: 2px;

    position: relative;
    width: 50px;
    aspect-ratio: 5 / 2;
    border: var(--switch-border-size) solid var(--switch-color);
    border-radius: 50px;
    transition: .2s ease border-color;
}
.field .switch:has(input[type=checkbox]:checked) {
    --switch-color: var(--primary-color);
}
.field .switch:has(input[type=checkbox]:disabled) {
    opacity: .5;
}
.field .switch::before {
    content: "";
    position: absolute;
    top: var(--switch-border-size);
    left: var(--switch-border-size);
    display: inline-block;
    height: calc(100% - (var(--switch-border-size) * 2));
    aspect-ratio: 1 / 1;
    background-color: var(--switch-color);
    border-radius: 50%;
    transition: .2s ease background-color, .2s ease left, .2s ease transform;
}
.field .switch:has(input[type=checkbox]:checked) {
    background-color: var(--primary-color);
}
.field .switch:has(input[type=checkbox]:checked)::before {
    left: calc(100% - var(--switch-border-size));
    background-color: var(--bg-color);
    transform: translateX(-100%);
}

.field .switch input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 150%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--form-bg-color) inset !important;
}

.item-content .loading {
    border-radius: 3px;
    background-color: var(--image-loading-bg-color);
    margin: 5px 0;
}

.title.loading {
    width: 100%;
    height: 20px;
}

.subtitle.loading {
    width: 60%;
    height: 15px;
}

.price.loading {
    width: 80%;
    height: 12px;
}