:root {
    --dark-bg-color: #565656;
    --dark-font-color: #E6E6E6;
    --dark-nav-bg-color: #343434;
    
    --light-font-color: #343434;
    --light-bg-color: #E6E6E6;
    --light-nav-bg-color: #8E8E8E;
}

/* Variante Regular */
@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variante Italic */
@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: "Nunito";
    margin: 0;
}



body[theme="dark"] {
    background-color: var(--dark-bg-color);
    color: var(--dark-font-color);
}



body[theme="light"] {
    background-color: var(--light-bg-color);
    color: var(--light-font-color);
}