.navbar {
    width: 100%;
}

.navbar .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    justify-self: center;
}

.navbar .menu {
    list-style: none;
}

body[theme="dark"] .navbar {
    background-color: var(--dark-nav-bg-color);
}



body[theme="light"] .navbar {
    background-color: var(--light-nav-bg-color);
}