.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nav-bg-color);
    transition: .2s ease background-color;
    z-index: 5;
}

.navbar .container {
    width: 100%;
    max-width: var(--navbar-container-max-width);
    display: flex;
    justify-content: space-around;
    justify-self: center;
}

.navbar .logo {
    width: 70px;
    aspect-ratio: 1 / 1;
    padding: 5px 0;
}

.navbar .menu, .navbar .settings {
    list-style: none;
}

.navbar .menu {
    display: flex;
    gap: 5px;
}

.navbar .menu .item-menu .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.navbar .containerSettings {
    display: flex;
    gap: 20px;
}

.navbar #changeTheme {
    height: fit-content;
    font-size: 25px;
    align-self: center;
    color: var(--text-color);
    cursor: pointer;
}

.navbar #dataUser {
    height: fit-content;
    align-self: center;
}

.navbar .profile {
    position: relative;
    width: var(--profile-size-icon);
    aspect-ratio: 1 / 1;
    background-color: var(--profile-bg-color);
    border-radius: 50%;
    border: var(--profile-border-size) solid var(--profile-border-color);
    overflow: hidden;
}

.navbar .profile i {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--profile-size-icon);
    text-align: center;
}

.navbar .profile:has(.img-loaded) i {
    display: none;
}

.navbar #statusConnection {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: var(--subtitle-size);
    text-align: center;
    font-weight: var(--subtitle-weight);
    transform: translateY(-30%);
    opacity: 0;
    background-color: transparent;
    transition: .3s ease opacity, .3s ease transform, .3s ease background-color;
}
.navbar #statusConnection.show {
    opacity: 1;
    transform: translateY(0);
}
.navbar #statusConnection.success {
    background-color: var(--status-color-success);
}
.navbar #statusConnection.warn {
    background-color: var(--status-color-warn);
}
.navbar #statusConnection.failed {
    background-color: var(--status-color-failed);
}

.navbar .settings {
    --nav-menu-padding: 10px;

    position: absolute;
    transform: translate(-70%, 12px);
    background-color: var(--nav-menu-bg-color);
    padding: var(--nav-menu-padding);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: .2s ease opacity;
    z-index: 2;
}
.navbar .settings:not(.show) {
    top: -500px;
    opacity: 0;
}
.navbar #dataUser:has(.settings.show)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.navbar .settings::after {
    content: "";
    position: absolute;
    top: -10px; 
    right: 5px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--nav-menu-bg-color);
}

.navbar .settings .item-settings i {
    margin-right: 8px;
}

.navbar .settings .item-settings a {
    display: block;
    padding: 5px 15px;
    border-radius: 8px;
    color: var(--text-color);
    transition: .3s ease background-color;
}
.navbar .settings .item-settings a:hover {
    background-color: var(--nav-bg-color);
}

.navbar .settings .split-settings {
    width: calc(100% + (var(--nav-menu-padding) * 2));
    height: 1px;
    background-color: var(--text-color);
    transform: translateX(calc(var(--nav-menu-padding) * -1));
    margin: 5px 0;
}