#filter {
    max-width: 300px;
}

.field.checkboxes-simplified {
    max-height: 380px;
}
.field.checkboxes-simplified .wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 10px 30px 0 0;
    gap: 5px;
}
.field.checkboxes-simplified .wrapper::-webkit-scrollbar {
    width: 7px;
}
.field.checkboxes-simplified .wrapper::-webkit-scrollbar-track {
    width: 3px;
    background-color: var(--secondary-color);
    background-clip: content-box; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.field.checkboxes-simplified .wrapper::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

.field-multiple .field {
    width: 45%;
}

.field-checkbox {
    flex-direction: row;
}

.field-checkbox .image {
    width: 20px;
}

.container.row {
    display: flex;
    gap: 40px;
}

.container #results {
    width: calc(var(--container-max-width) - 300px);
    border-radius: 8px;
}

#results .wrapper-items {
    flex-wrap: wrap;
}

#results .wrapper-item {
    position: relative;
    width: calc((100% - 40px) / 5);
}

#results .wrapper-item .item-image {
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 8px;
    overflow: hidden;
}

#results .info {
    display: flex;
    justify-content: end;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info #numberPage {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info #numberPage .field {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.info #numberPage .field input {
    text-align: center;
    width: 20px;
    padding: 5px 15px;
}

.info.loading .total {
    display: block;
    min-width: 60px;
}

.page .button {
    background-color: transparent;
    padding: 5px;
}

.page .button.disabled {
    opacity: .5;
    cursor: not-allowed;
}