#filter {
    max-width: 300px;
}

.field.checkboxes-simplified {
    max-height: 380px;
}
.field.checkboxes-simplified .wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 5px;
}

.field-multiple .field {
    width: 45%;
}

.field-checkbox {
    flex-direction: row;
}

.field-checkbox .image {
    width: 20px;
}

.container.row {
    display: flex;
    gap: 40px;
}

.container #results {
    width: calc(var(--container-max-width) - 300px);
    border-radius: 8px;
}

#results .wrapper-items {
    flex-wrap: wrap;
}

#results .wrapper-item {
    position: relative;
    width: calc((100% - 40px) / 5);
}

#results .wrapper-item .item-image {
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 8px;
    overflow: hidden;
}

#results .info {
    display: flex;
    justify-content: end;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info #numberPage .field {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.info #numberPage .field input {
    text-align: center;
    width: 20px;
    padding: 5px 15px;
}

.info.loading .total {
    display: block;
    min-width: 60px;
}