.details .item-image.bannerIMG {
    aspect-ratio: 16 / 5;
    border-radius: 8px;
}

.details .item-info {
    position: relative;
    width: 100%;
    display: flex;
    transform: translateY(-35%);
}

.details .item-content {
    display: block;
    width: 50%;
    align-self: end;
    margin-left: 20px;
}

.details .item-image.profileIMG {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 5px solid var(--bg-color);
    margin-left: 20px;
}

.loading .title {
    height: 30px;
}

.loading .subtitle {
    height: 20px;
}

.wrapper.socials {
    margin-top: 20px;
}

.loading .wrapper-item {
    width: 40px;
    height: 40px;
    background-color: var(--image-loading-bg-color);
}